<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <connectionStrings>
        <add name="LabDBConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=LabDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="pubsConnectionString" connectionString="Data Source=MAC-PC;Initial Catalog=pubs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
